.outer,
.predictions,
.right,
.left,
.right-top,
.results,
.scores,
.waiting-list-title,
.waiting-list {
  display: flex;
}

.error-msg{
  margin-top: 10px;
}

.current-question-wrapper {
  display: flex;
  align-items: center;
}

.avatar1 {
  margin-right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #EBEBEB;
}

.avatar2 {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #FABE66
}

.thinking {
  margin: 0 0 0 auto;
}

.thinking>div {
  width: 8px;
  height: 8px;
  background-color: #FABE66;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.thinking .bounce1 {
  animation-delay: -0.32s;
}

.thinking .bounce2 {
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0)
  }

  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.qas-common {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  width: max-content;
  padding: 10px 20px;
}

.qas-q {
  border: 1px solid #333333;
  border-radius: 0 30px 30px 30px;
}

.qas-a {
  cursor: pointer;
  margin: 0 0 0 auto;
  border: 1px solid #FABE66;
  color: #333333;
  border-radius: 30px 30px 0 30px;
}

.answer-area{
  margin-top: 5px;
}

.save-btns{
  margin-left: auto;
}

.answer-area-edit{
  margin-top: 5px;
  background-color: #fbbf5e;
}

.predictions {
  display: flex;
  padding-top: 2rem;
  justify-content: space-between;
}

.scores-box {
  display: flex;
  flex-direction: column;
}

.scores-box p {
  text-align: center;
}

.color {
  background-color: floralwhite;
}

.color a {
  font-weight: 400;
  font-size: 1rem;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name>h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
  padding-left: 20px;
  padding-right: 20px;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.name>h4 {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  font-weight: 500;
  letter-spacing: 10px;
}

.name>h2>span {
  color: #f21d1d;
}

.outer {
  width: 90%;
  margin: auto;
}

.card {
  margin: 5px;
  width: 100%;
}

.scores-card {
  height: 100%;
  margin: 5px;
}

.right-top {
  display: flex;
}

h1 {
  padding-left: 20px;
  padding-right: 20px;
}

.option-chips {
  margin-top: 30px;
}

.mat-error{
  margin: 10px 5px;
}

.option-row {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

input {
  margin-top: 30px;
  padding: 6px 20px;
  height: 30px;
  width: 90%;
  border-radius: 20px 20px 0 20px;
  border: 1px solid #fbbf5e;
  font-size: 16px;
}

.divider {
  border-right: 3px solid #FABE66;
}

#header-image {
  background-image: url('../../../assets/idea.png');
  background-size: cover;
  height: 50px;
  width: 50px;
  flex-shrink: 0;
  border-radius: 0;
}

#matrix {
  background-image: url('../../../assets/analytics.png');
  background-size: cover;
  height: 50px;
  width: 50px;
  flex-shrink: 0;
  border-radius: 0;
}

#wl {
  background-image: url('../../../assets/traffic-light.png');
  background-size: cover;
  height: 50px;
  width: 50px;
  flex-shrink: 0;
  border-radius: 0;
}

#scr {
  background-image: url('../../../assets/rocket-launch.png');
  background-size: cover;
  height: 50px;
  width: 50px;
  flex-shrink: 0;
  border-radius: 0;
}

#logo {
  background-image: url('../../../assets/logo.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  flex-shrink: 0;
  border-radius: 0;
}

.float-chart {
  width: 500px;
  height: 365px;
  position: fixed;
  bottom: 5px;
  left: 5px;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.results {
  flex-grow: 3;
}

.scores {
  flex-grow: 1;
  flex-direction: column;
}

.left {
  max-width: 40%;
  min-width: 39.9%;
  height: 100%;
}

.right {
  width: 100%;
  flex-direction: column;
}

canvas {
  width: 80%;
  background-color: white;
}

.waiting-list-title {
  width: 100%;
  justify-content: space-between;
}

.chart-buttons {
  float: right;
}

.sort-buttons {
  margin-bottom: 1rem;
}
