.formula-form{
  display: flex;
  margin-bottom: 1rem;
  background-color: #FBFBFD;
  padding: 5px;
  border-radius: 3px;
}

.o-v-group{
  display: flex;
  flex-direction: column;
}

mat-form-field {
  padding: 0 5px;
}

.mat-action-row button {
  margin-right: 1rem;
}